#text-to-translate {
    font-family: sans-serif;
    font-size: 48px;
    text-align: center;

    padding: 20px;

    width: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

textarea::placeholder {
    color: lightgrey;
}

#melodiction-logo {
    text-align: center;
    width: 400px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#gitlab-icon {
    width: 150px;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}

img {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#message {
    text-align: center;
    font-size: large;
    color: lightsteelblue;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 2s;
}
